.cart-image {
    width: 100px;
    height: auto;
}

.quantity-change {
    background-color: #ddd;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.quantity {
    margin: 0 10px;
}

.remove-item {
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
}

#checkout-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
